@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}
